:root {
	--text-color: #1b1c21;
	--gradient: linear-gradient(
		45deg,
		rgba(255, 106, 0, 1) 0%,
		rgba(238, 9, 121, 1) 50%,
		rgba(0, 154, 255, 1) 100%
	);
	--invert-gradient: linear-gradient(
		45deg,
		rgba(17, 246, 134, 1) 20%,
		rgba(0, 149, 255, 1) 80%
	);

	--bg-color: #eaeaea;
	--color: #ededed;
	--border-color: rgba(0, 0, 0, 0.1);
}
body {
	background-color: var(--bg-color);
	font-family: 'JetBrains Mono', sans-serif;
	color: var(--text-color);
	font-weight: 400;
}
svg.logo-svg {
	height: 50px;
	width: auto;
	fill: white;
}
svg.logo-svg path:last-of-type {
	fill: var(--text-color); /* Установите нужный цвет */
}
h1 {
	font-size: 26px;
	font-weight: 600;
}
h2 {
	font-size: 24px;
	font-weight: 200;
}
.header-box {
	display: flex;
	background-color: var(--color);
	width: 100%;
	height: auto;
	padding: 5px 24px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.footer-box {
	display: flex;
	height: auto;
	padding: 20px;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.footer-content {
	text-decoration: none;
	color: var(--text-color);
	font-size: 14px;
}
a.footer-content:hover {
	text-decoration: underline;
	color: var(--text-color);
}
@media (max-width: 992px) {
	.footer-content {
		font-size: 12px;
	}
}
@media (max-width: 722px) {
	.footer-content {
		font-size: 10px;
	}
}
@media (max-width: 544px) {
	.footer-content {
		font-size: 8px;
	}
}
.full-name {
	width: 222px;
	white-space: normal; /* перенос строки */
	font-size: 17px;
	font-weight: 300;
	line-height: 1.2;
	margin: 7.5px;
	color: var(--text-color);
}
.branding {
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.navigation {
	margin: 7.5px;
}
.nav-link {
	white-space: nowrap; /* ЗАПРЕТ на перенос строки */
	font-size: 19px;
	margin: 7.5px;
	font-weight: 300;
}
.nav-link:hover {
	text-decoration: underline;
}
.navbar-toggler {
	border: none;
}
@media (max-width: 992px) {
	.navigation {
		position: absolute;
		background-color: var(--bg-color);
		border-radius: 5px;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
		left: -125%;
		z-index: 100;
	}

	.navbar-toggler-icon {
		background-image: none; /* Убираем стандартное изображение иконки */
	}

	.navbar-toggler-icon::before {
		content: ''; /* Псевдоэлемент для создания полос */
		display: inline-block;
		width: 24px;
		height: 2px;
		background-color: var(--text-color); /* Цвет иконки */
		box-shadow: 0 6px 0 var(--text-color), 0 -6px 0 var(--text-color); /* Две дополнительные полосы */
	}
}
.theme-btn {
	width: 30px;
	height: 30px;
	cursor: pointer;
	filter: invert(0);
}
.slider {
	height: auto;
	width: 95%;
	margin: 2.5%;
	border-radius: 20px;
	overflow: hidden;
	display: flex;
	border: solid 1px var(--border-color);
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.slider-info {
	display: flex;
	width: 100%;
	height: 500px;
	background-color: var(--color);
}
.name-slide {
	width: 51.5%; /* Перекрытие на 1% */
	height: 100%;
	border-radius: 20px;
	z-index: 1;
	font-size: 35px;
	margin: 0;
	margin-right: -1.5%;
	background-image: var(--gradient);
	-webkit-background-clip: text;
	color: transparent;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	cursor: default;
}
@media (max-width: 992px) {
	.name-slide {
		font-size: 25px;
	}
	.slider-info {
		height: 400px;
	}
}
@media (max-width: 722px) {
	.name-slide {
		font-size: 15px;
	}
	.slider-info {
		height: 300px;
	}
}
@media (max-width: 544px) {
	.name-slide {
		font-size: 15px;
	}
	.slider-info {
		height: 200px;
	}
}
.img-slide {
	width: 50%;
	height: 100%;
	z-index: 0;
	object-fit: cover; /* Чтобы изображение корректно заполнило блок */
}

.carousel-control-prev,
.carousel-control-next {
	height: auto;
	width: 50px;
	background-color: var(--color);
}

.info-card {
	width: 95%;
	height: auto;
	background-color: transparent;
	border-radius: 20px;
	padding: 20px;
	transition: 0.2s;
	margin: 15px 2.5%;
	border: none;
}
.info-card:hover {
	filter: brightness(1.075);
	background-color: var(--bg-color);
	border: solid 1px var(--border-color);
}
.card-img {
	width: 100%;
	height: auto;
	margin-right: 20px;
	border-radius: 10px;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.publish-date {
	filter: contrast(1.5);
	border-radius: 25px;
	display: inline-block;
	padding: 0 5px;
	width: auto;
	margin: 2px;
	color: var(--gradient);
	background-image: var(--gradient);
	-webkit-background-clip: text;
	color: transparent;
}
.title {
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 10px;
}
.content-description {
	font-size: 20px;
	font-weight: 200;
}
.description {
	font-size: 18px;
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 768px) {
	.card-container {
		margin-bottom: 15px; /* уменьшение отступов между карточками на мобильных устройствах */
	}

	.col-12 {
		width: 100%; /* карточки будут занимать всю ширину на мобильных устройствах */
	}
}

/* Для широкой версии (экран > 768px) */
@media (min-width: 769px) {
	.col-md-4 {
		width: 30%; /* карточки будут занимать 1/3 ширины контейнера на больших экранах */
	}
}

.about-date {
	font-size: 20px;
	font-weight: 400;
}
.about-description {
	font-size: 19px;
	font-weight: 200;
}

.people-card {
	height: 450px;
	width: 300px;
	border-radius: 10px;
	background-color: var(--color);
	overflow: hidden;
	border: solid 1px var(--border-color);
	margin: 3% auto;
}
.people-img {
	height: 80%;
	width: 100%;
	object-fit: cover;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.people-name {
	color: var(--text-color);
	font-weight: 200;
	margin: 0 2.5%;
}
.people-desription {
	color: var(--text-color);
	font-weight: 600;
	font-size: 20px;
	margin: 0 2.5%;
}

.photo-card {
	height: 450px;
	width: 300px;
	border-radius: 10px;
	background-color: var(--color);
	overflow: hidden;
	border: solid 1px var(--border-color);
	transition: 0.3s;
	margin: 3% 0; /* Центровка для мелких экранов */
	display: flex;
	align-items: center; /* Центрируем контент */
	justify-content: center; /* Центрируем контент */
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.photo-card:hover {
	transform: scale(1.025);
	transition: 0.2s;
}
.photo-card:active {
	transform: scale(0.995);
	transition: 0.025s;
	filter: brightness(0.9);
}
@media (max-width: 768px) {
	.photo-card {
		margin: 3% auto;
	}
}
.gallery-content {
	height: 100%;
	width: 100%;
	object-fit: cover;
	transition: 0.5s;
}
/* Модальное окно */
.photo-modal {
	display: none; /* Скрыто по умолчанию */
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Затемнение фона */
	z-index: 9999;
	backdrop-filter: blur(3px); /* Размытие фона */
	-webkit-backdrop-filter: blur(3px);
	justify-content: center;
	align-items: center;
	transition: 0.3s;
}

/* Контент модального окна */
.photo-modal-content {
	position: relative;
	max-width: 70%;
	max-height: 70%;
	margin-bottom: 10%;
}
@media (max-width: 874px) {
	.photo-modal-content {
		max-width: 100%;
	}
}

.photo-modal-content img {
	width: 100%;
	height: auto;
	border-radius: 8px;
}

/* Кнопка закрытия */
.close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	color: white;
	font-size: 24px;
	font-weight: bold;
	cursor: pointer;
	z-index: 10000;
	background: rgba(0, 0, 0, 0.5);
	padding: 5px 10px;
	border-radius: 5px;
}
.contact-icon {
	height: 100%;
	width: 100%;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.contact-icon-container {
	height: 50px;
	width: 50px;
	margin: 5%;
}
.contact-card {
	background-color: var(--bg-color);
	filter: contrast(1.05);
	height: 100%;
	width: 100%;
	padding: 5px;
	align-items: center;
	border-radius: 15px;
	border: solid 1px var(--border-color);
}
svg.contact-icon-stroke path {
	stroke: var(--text-color);
}
svg.contact-icon-fill path {
	fill: var(--text-color);
}
.contact-card-info {
	text-decoration: none;
	color: var(--text-color);
	font-size: 16px;
	font-weight: 200;
	margin: 0;
}
.contact-card-title {
	color: var(--gradient);
	font-size: 24px;
	font-weight: 600;
	margin: 0;
}
a.contact-card-info:hover {
	text-decoration: underline;
}

.bento {
	display: flex;
	flex-wrap: wrap;
	gap: 1ch;
	padding: 1ch;
}

.bento__container {
	display: grid;
	grid-template-rows: 2fr 1fr 1fr 2fr 2fr 3fr;
	grid-template-columns: 3fr 1fr 2fr;
	gap: 1ch;
	min-height: inherit;
}

.bento__item {
	grid-column: var(--columns, span 1);
	grid-row: var(--rows, span 1);
	border-radius: 1rem;
	background-color: var(--color);
	border: solid 1px var(--border-color);
	padding: 10px;
	box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.025);
}
.bento-title {
	font-size: 30px;
	font-weight: 800;
}
.bento-description {
	font-size: 22px;
	font-weight: 300;
}
.bento__item#card1 {
	background-image: linear-gradient(
		0deg,
		rgb(0, 0, 0) 0%,
		rgb(27, 27, 27) 100%
	);
	border: solid 1px var(--border-color);
}
.bento-title#card1 {
	background-image: var(--invert-gradient);
	-webkit-background-clip: text;
	color: transparent;
}
.bento-description#card1 {
	color: white;
	font-weight: 200;
}
.bento-title#card2 {
	background-image: var(--gradient);
	-webkit-background-clip: text;
	color: transparent;
	filter: contrast(1.1);
}
.card-container {
	background-color: var(--color);
	border-radius: 15px;
	border: solid 1px var(--border-color);
	height: 90%;
	width: 100%;
	padding: 10px;
	margin: 3% auto;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.card-img-title {
	height: 50px;
	width: 50px;
	border-radius: 5px;
	margin-right: 5%;
	margin-bottom: 15px;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.about-text {
	font-size: 14px;
	font-weight: 300;
}
.about-info {
	font-size: 18px;
	font-weight: 600;
}
