:root {
	--text-color: #1b1c21;
	--gradient: linear-gradient(
		45deg,
		rgba(255, 106, 0, 1) 0%,
		rgba(238, 9, 121, 1) 50%,
		rgba(0, 154, 255, 1) 100%
	);
	--bg-color: #eaeaea;
	--color: #ededed;
	--card-color1: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(27, 27, 27) 100%);
	--card-color2: linear-gradient(
		0deg,
		rgb(234, 234, 234) 0%,
		rgb(227, 255, 251) 100%
	);
	--border-color: rgba(0, 0, 0, 0.1);
}
body {
	background-color: var(--bg-color);
	font-family: 'JetBrains Mono', sans-serif;
	color: var(--text-color);
	font-weight: 400;
}
svg.logo-svg {
	height: 50px;
	width: auto;
	fill: white;
}
svg.logo-svg path:last-of-type {
	fill: var(--text-color); /* Установите нужный цвет */
}
h1 {
	font-size: 26px;
	font-weight: 600;
}
h2 {
	font-size: 24px;
	font-weight: 200;
}
.header-box {
	display: flex;
	background-color: var(--color);
	width: 100%;
	height: auto;
	padding: 5px 24px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
}
.footer-box {
	display: flex;
	height: auto;
	padding: 20px;
}
.footer-content {
	text-decoration: none;
	color: var(--text-color);
	font-size: 14px;
}
a.footer-content:hover {
	text-decoration: underline;
	color: var(--text-color);
}
@media (max-width: 992px) {
	.footer-content {
		font-size: 12px;
	}
}
@media (max-width: 722px) {
	.footer-content {
		font-size: 10px;
	}
}
@media (max-width: 544px) {
	.footer-content {
		font-size: 8px;
	}
}
.short-name {
	font-weight: 800;
	font-size: 40px;
	margin: 5px;
}
.full-name {
	width: 222px;
	white-space: normal; /* перенос строки */
	font-size: 17px;
	font-weight: 300;
	line-height: 1.2;
	margin: 7.5px;
	color: var(--text-color);
}
.branding {
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.navigation {
	margin: 7.5px;
}
.nav-link {
	white-space: nowrap; /* ЗАПРЕТ на перенос строки */
	font-size: 19px;
	margin: 7.5px;
	font-weight: 300;
}
.nav-link:hover {
	text-decoration: underline;
}
.navbar-toggler {
	border: none;
}
@media (max-width: 992px) {
	.navigation {
		position: absolute;
		background-color: var(--bg-color);
		border-radius: 5px;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
		left: -125%;
		z-index: 100;
	}

	.navbar-toggler-icon {
		background-image: none; /* Убираем стандартное изображение иконки */
	}

	.navbar-toggler-icon::before {
		content: ''; /* Псевдоэлемент для создания полос */
		display: inline-block;
		width: 24px;
		height: 2px;
		background-color: var(--text-color); /* Цвет иконки */
		box-shadow: 0 6px 0 var(--text-color), 0 -6px 0 var(--text-color); /* Две дополнительные полосы */
	}
}
.theme-btn {
	width: 30px;
	height: 30px;
	cursor: pointer;
	filter: invert(0);
}
.slider {
	height: auto;
	width: 95%;
	margin: 2.5%;
	border-radius: 20px;
	overflow: hidden;
	display: flex;
	border: solid 1px var(--border-color);
}
.slider-info {
	display: flex;
	width: 100%;
	height: 500px;
	background-color: var(--color);
}
.name-slide {
	width: 51.5%; /* Перекрытие на 1% */
	height: 100%;
	border-radius: 20px;
	z-index: 1;
	font-size: 35px;
	margin: 0;
	margin-right: -1.5%;
	background-image: var(--gradient);
	-webkit-background-clip: text;
	color: transparent;
}
@media (max-width: 992px) {
	.name-slide {
		font-size: 25px;
	}
	.slider-info {
		height: 400px;
	}
}
@media (max-width: 722px) {
	.name-slide {
		font-size: 15px;
	}
	.slider-info {
		height: 300px;
	}
}
@media (max-width: 544px) {
	.name-slide {
		font-size: 15px;
	}
	.slider-info {
		height: 200px;
	}
}
.img-slide {
	width: 50%;
	height: 100%;
	z-index: 0;
	object-fit: cover; /* Чтобы изображение корректно заполнило блок */
}

.carousel-control-prev,
.carousel-control-next {
	height: auto;
	width: 50px;
	background-color: var(--color);
}

.info-card {
	width: 95%;
	height: auto;
	background-color: transparent;
	border-radius: 20px;
	padding: 20px;
	transition: 0.2s;
	margin: 15px 2.5%;
	border: none;
}
.info-card:hover {
	filter: brightness(1.075);
	background-color: var(--bg-color);
	border: solid 1px var(--border-color);
}
.card-img {
	width: 100%;
	height: auto;
	margin-right: 20px;
	border-radius: 10px;
}
.publish-date {
	filter: contrast(1.5);
	border-radius: 25px;
	display: inline-block;
	padding: 0 5px;
	width: auto;
	margin: 2px;
	color: var(--gradient);
	background-image: var(--gradient);
	-webkit-background-clip: text;
	color: transparent;
}
.title {
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 10px;
}
.content-description {
	font-size: 20px;
	font-weight: 200;
}
.description {
	font-size: 18px;
}
.about-title {
	font-size: 30px;
	font-weight: 400;
}
.about-info {
	font-size: 25px;
	font-weight: 600;
}
.about-text {
	font-size: 15px;
	font-weight: 400;
}
.about-info#card1 {
	background-image: var(--gradient);
	-webkit-background-clip: text;
	color: transparent;
}
.about-info#desc {
	font-size: 18px;
	font-weight: 600;
}
.about-text#card1 {
	filter: invert(1);
}
.about-text#desc {
	font-size: 12px;
	font-weight: 400;
	margin: 2.5%;
}

.card-container {
	width: 95%;
	background-color: white;
	border-radius: 20px;
	margin: 5% 2.5%;
	padding: 10px;
	box-shadow: 5px 5px 5px var(--border-color);
}
.card-container#card1 {
	background-image: var(--card-color1);
}
.card-container#card2 {
	padding: 60px 10px;
}
.card-container#card3 {
	padding: 50px 10px;
}
.card-container#card4 {
	padding: 30px 10px;
}
.card-container#card5 {
	padding: 125px 10px;
	background-image: var(--card-color2);
}
.about-date {
	font-size: 20px;
	font-weight: 400;
}
.about-description {
	font-size: 19px;
	font-weight: 200;
}
.card-img-title {
	height: 50px;
	width: 50px;
	border-radius: 10px;
	margin-right: 5%;
	margin-left: 2.5%;
	margin-bottom: 15px;
}
.card-container#desc1 {
	padding: 20px 10px;
}
.card-container#desc2 {
	padding: 70px 10px;
}
.card-container#desc3 {
	padding: 55px 10px;
}
.card-container#desc4 {
	padding: 35px 10px;
}
.card-container#desc5 {
	padding-bottom: 70px;
}
.card-img-title#desc {
	margin-top: 10px;
	width: 95%;
	height: auto;
}
.people-card {
	height: 450px;
	width: 300px;
	border-radius: 10px;
	background-color: var(--color);
	overflow: hidden;
	border: solid 1px var(--border-color);
	margin: 1% 2.5%;
}
.people-img {
	height: 80%;
	width: 100%;
	object-fit: cover;
}
.people-name {
	color: var(--text-color);
	font-weight: 200;
	margin: 0 2.5%;
}
.people-desription {
	color: var(--text-color);
	font-weight: 600;
	font-size: 20px;
	margin: 0 2.5%;
}

.photo-card {
	height: 450px;
	width: 300px;
	border-radius: 10px;
	background-color: var(--color);
	overflow: hidden;
	border: solid 1px var(--border-color);
	transition: 0.3s;
	margin: 3% 0; /* Центровка для мелких экранов */
	display: flex;
	align-items: center; /* Центрируем контент */
	justify-content: center; /* Центрируем контент */
}
.photo-card:hover {
	transform: scale(1.025);
	transition: 0.2s;
}
.photo-card:active {
	transform: scale(0.995);
	transition: 0.025s;
	filter: brightness(0.9);
}
@media (max-width: 768px) {
	.photo-card {
		margin: 3% auto;
	}
}
.gallery-content {
	height: 100%;
	width: 100%;
	object-fit: cover;
	transition: 0.5s;
}
/* Модальное окно */
.photo-modal {
	display: none; /* Скрыто по умолчанию */
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Затемнение фона */
	z-index: 9999;
	backdrop-filter: blur(3px); /* Размытие фона */
	-webkit-backdrop-filter: blur(3px);
	justify-content: center;
	align-items: center;
	transition: 0.3s;
}

/* Контент модального окна */
.photo-modal-content {
	position: relative;
	max-width: 70%;
	max-height: 70%;
	margin-bottom: 10%;
}
@media (max-width: 874px) {
	.photo-modal-content {
		max-width: 100%;
	}
}

.photo-modal-content img {
	width: 100%;
	height: auto;
	border-radius: 8px;
}

/* Кнопка закрытия */
.close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	color: white;
	font-size: 24px;
	font-weight: bold;
	cursor: pointer;
	z-index: 10000;
	background: rgba(0, 0, 0, 0.5);
	padding: 5px 10px;
	border-radius: 5px;
}
.contact-icon {
	height: 100%;
	width: 100%;
}
.contact-icon-container {
	height: 50px;
	width: 50px;
	margin: 5%;
}
.contact-card {
	background-color: var(--bg-color);
	filter: contrast(1.05);
	height: 100%;
	width: 100%;
	padding: 5px;
	align-items: center;
	border-radius: 15px;
	border: solid 1px var(--border-color);
}
svg.contact-icon-stroke path {
	stroke: var(--text-color);
}
svg.contact-icon-fill path {
	fill: var(--text-color);
}
.contact-card-info {
	text-decoration: none;
	color: var(--text-color);
	font-size: 16px;
	font-weight: 200;
	margin: 0;
}
.contact-card-title {
	color: var(--gradient);
	font-size: 24px;
	font-weight: 600;
	margin: 0;
}
a.contact-card-info:hover {
	text-decoration: underline;
}
